<configuration>
  <appSettings>
    <add key="WSGI_HANDLER" value="django.core.wsgi.get_wsgi_application()" />
    <add key="PYTHONPATH" value="d:\dev\py\gcgdata\" />
    <add key="DJANGO_SETTINGS_MODULE" value="gcgdata.settings" />
  </appSettings>
  <system.webServer>
    <handlers>
     <add name="Python CSS" path="*.css" verb="GET" modules="StaticFileModule" resourceType="File" requireAccess="Read" />
        <add name="Python FastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Dev\py\evn\mssql\Scripts\python.exe|C:\Dev\py\evn\mssql\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" />
    </handlers>
  </system.webServer>
</configuration>